/*
+++++++++++++
reset
+++++++++++++
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*
+++++++++++++
Common
+++++++++++++
 */

.container {
    max-width: 1400px;
}





/*
+++++++++++++
header
+++++++++++++
 */

/*
+++++++++++++
typo header
+++++++++++++
 */

header {
    background-color: orange;
}


li {
    list-style-type: none;
}


.container {
    margin: auto;
}


header .container .top-menu{
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}


.box {
    margin: auto;
    width: 1000px;
    display: flex;
}



header .box .top-links ul,
header .box .icon-links ul{
    display: flex;
    gap: 15px;
}

header .box .icon-links ul{
    text-align: right;
}

header nav .box .top-links,
header nav .box .icon-links{
    width: 20%;
    font-size: 14px;
}

img {
    width: 100px;
}



/*
+++++++++++++
main
+++++++++++++
 */

/*
+++++++++++++
typo main
+++++++++++++
 */


 .foto-abito{
    width: 440px;
    height: 640px;
    background-color: chartreuse;
    border: 2px solid black;
 }

 main .abito {
    width: calc(100% / 3 - 10px);
 }

 main .prodotti {
    margin-top: 120px;
    
  }

.main-flex{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
  }

