/*
+++++++++++++
reset
+++++++++++++
 */

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*
+++++++++++++
Common
+++++++++++++
 */

.container {
    max-width: 1400px;
    margin: auto;
}





/*
+++++++++++++
header
+++++++++++++
 */

/*
+++++++++++++
typo header
+++++++++++++
 */

header {
    background-color: orange;
}


li {
    list-style-type: none;
}

header .container .top-menu{
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}





header .top-menu .top-links ul,
header .top-menu .icon-links ul{
    display: flex;
    gap: 15px;
}

header .top-menu .icon-links ul{
    text-align: right;
}

header nav .top-menu .top-links,
header nav .top-menu .icon-links{
    width: 20%;
    font-size: 14px;
    display: flex;
}

img {
    width: 100px;
}


header nav .top-menu .top-links{
    justify-content: flex-start;
}

header nav .top-menu .icon-links{
    justify-content: flex-end;
}

/*
+++++++++++++
main
+++++++++++++
 */

/*
+++++++++++++
typo main
+++++++++++++
 */


 .foto-abito
 {
    width: 450px;
    position: relative;
    
 }

 main .abito {
    width: calc(100% / 3 - 10px);
 }

 main .prodotti {
    margin-top: 50px;
 
    
  }

.main-flex{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
  }


main .main-flex .prodotti .abito .foto-abito img{
    width: 100%;

}


.brand{
    font-size: 13px;
}

.nome-abito{
    font-size: 20px;
    font-weight: 500;
}


main .main-flex .prodotti .abito .descr-abito{
    width: 450px;
    vertical-align: 1.2em;
    margin-top: 5px;
}

main .main-flex .prodotti .abito .descr-abito .sconto {
    color: red;
}

main .main-flex .prodotti .abito .descr-abito .canc{
    color: black;
    display: inline-block;
    margin-left: 5px;
    text-decoration: line-through;
    
}


main .main-flex .prodotti .abito .foto-abito .n-sconto{
    background-color: red;
    color: white;
    position: absolute;
    bottom: 40px;
    padding: 5px;
}

main .main-flex .prodotti .abito .foto-abito .eco{
    background-color: green;
    color: white;
    position: absolute;
    bottom: 40px;
    padding: 5px;
    left: 50px;
}

.absolute{
    position: absolute;
}

.eco-6{
    background-color: green;
    color: white;
    position: absolute;
    bottom: 40px;
    padding: 5px;
}


main .main-flex .prodotti .abito .foto-abito .prefer-heart{
    background-color: white;
    color: black;
    position: absolute;
    padding: 10px;
    right: 0;
    top: 10px;
    font-size: 25px;
}

main .main-flex .prodotti .abito .foto-abito .prefer-heart:hover{
    color: red;
}

.foto-b{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.foto-abito:hover .foto-b{
    display: inline-block;
}